.row{
    background:linear-gradient(rgb(38, 220, 50),white,lightblue);
    display:flex;
    flex-wrap:wrap;
    padding:5px;
}

.box {
    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    width: 320px;   /* fixed width */
}